@using LonginKP3.Models
@model IndexModel
<section id="aboutSection" class="d-flex justify-content-center align-items-center">
    <div id="about" class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="title text-white pb-3">
            @Model.title
        </h1>
        <div>
            <h3 class="subtitle text-white pt-4">
                @Model.description
            </h3>
        </div>
        <blockquote class="text-white">
            "@Model.quote"
            <p>-@Model.quoteAuthor</p>
        </blockquote>
    </div>
</section>
@section Scripts {
    <script>
        $(document).ready(function () {
            // Animate the intro section elements
            setTimeout(function () {
                $("#about .subtitle").addClass("fade-in");
                $("#about blockquote").addClass("fade-in");
            }, 4000); // Start after typing animation finishes
        });
    </script>
}